<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>博客</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="../images/favicon.gif"/>
    <link rel="stylesheet" href="../css/style.css" media="screen"/>
    <link rel="stylesheet" href="../css/responsive.css" media="screen"/>
    <link rel="stylesheet" id="style-color" href="../css/colors/blue-color.css" media="screen"/>
    <link rel="stylesheet" href="../css/googleapis-css.css" type='text/css'>
    <link rel="stylesheet" href="../css/prettyPhoto.css" media="screen"/>
    <link rel="stylesheet" href="../css/font-awesome/font-awesome.min.css" media="screen"/>
    <link rel="stylesheet" href="../css/layer-slider.css" media="screen"/>
    <link rel="stylesheet" href="../css/flexslider.css" media="screen"/>
    <link rel="stylesheet" href="../css/revolution-slider.css" media="screen"/>
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../js/jquery-ui.js"></script>
    <script type="text/javascript" src="../js/flex-slider.min.js"></script>
    <script type="text/javascript" src="../js/navigation.min.js"></script>
    <script type="text/javascript" src="../js/jquery.layerslider.js"></script>
    <script type="text/javascript" src="../js/layerslider.transitions.js"></script>
    <script type="text/javascript" src="../js/carousel.js"></script>
    <script type="text/javascript" src="../js/jquery.theme.plugins.min.js"></script>
    <script type="text/javascript" src="../js/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="../js/flickr.js"></script>
    <script type="text/javascript" src="../js/instagram.js"></script>
    <script type="text/javascript" src="../js/prettyPhoto.min.js"></script>
    <script type="text/javascript" src="../js/jquery.tooltips.min.js"></script>
    <script type="text/javascript" src="../js/isotope.min.js"></script>
    <script type="text/javascript" src="../js/scrolltopcontrol.js"></script>
    <script type="text/javascript" src="../js/jquery.easy-pie-chart.js"></script>
    <script type="text/javascript" src="../js/jquery.transit.min.js"></script>
    <script type="text/javascript" src="../js/custom.js"></script>
    <script type="text/javascript" src="../js/blogjs/editcheck.js"></script>
</head>
<style>
    p{
        word-wrap: break-word;
        word-break: break-all;
        overflow: hidden;
    }
</style>
<body>
<div id="container">
    <!-- main container starts-->
    <div id="wrapp">
        <!-- main wrapp starts-->
        <header id="header">
            <!--header starts -->
            <div id="header-links">
                <div class="container">
                    <div class="one-half">
                        <ul class="contact-links">
                            <!-- header social links starts-->
                            <li><a href="#"><i class="icon-home"></i>现在位置：上海 </a></li>
                            <li><a href="#"><i class="icon-map-marker"></i>FrankLee8399@163.com</a></li>
                        </ul>
                    </div>
                    <div class="one-half">
                        <ul class="social-links">
                            <a id="loginlink" href="/login" class="tooltip"
                               target="_Blank">登录/注册</a>&nbsp;&nbsp;&nbsp;<i class="icon-pinterest"></i>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="head-wrapp">
                    <a href="/" id="logo"><img src="../images/timg-logo.jpg" alt=""/></a>
                    <span>欢迎来到李少雄的博客,域名：ragdollhouse.club</span>
                    <!--your logo-->
                    <nav class="top-search">
                        <!-- search starts-->
                        <form action="/page/404-error.html" method="get">
                            <button class="search-btn"></button>
                            <input class="search-field" type="text" onblur="if(this.value=='')this.value='Search';"
                                   onfocus="if(this.value=='Search')this.value='';" value="搜索"/>
                        </form>
                    </nav>
                    <!--search ends -->
                </div>
            </div>
            <div id="main-navigation">
                <!--main navigation wrapper starts -->
                <div class="container">
                    <ul class="main-menu">
                        <li><a href="/">首页</a>
                        </li>
                        <li><a href="/blog" id="current">博客</a>
                        </li>
                        <li><a href="/newsInfo">新资讯</a>
                        </li>
                        <li><a href="#">商务合作</a>
                        </li>
                        <li><a href="#">站内数据分析</a>
                        </li>
                        <li><a href="contact.html">关于本站</a></li>
                    </ul>
                    <!-- main navigation ends-->
                    <div class="after-nav-info">
                        <h4>联系邮箱: FrankLee8399@163.com</h4>
                    </div>
                </div>
            </div>
            <!--main navigation wrapper ends -->
        </header>
        <div id="content">
            <div id="breadcrumb">
                <!-- breadcrumb starts-->
                <div class="container">
                    <div class="one-half">
                        <a id="editblog" href="/gotoEdit"><h4>我要发帖</h4></a>
                    </div>
                    <div class="one-half">
                        <nav id="breadcrumbs">
                            <!--breadcrumb nav starts-->
                            <ul>
                                <li>您所在的位置 :</li>
                                <li><a href="/">首页</a></li>
                                <li>新资讯</li>
                            </ul>
                        </nav>
                        <!--breadcrumb nav ends -->
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="three-fourth">
                    <ul th:each="lists:${bloglist}">
                        <div th:class="permalink">
                            <a href="/">
                                <h4><span th:each="list:${lists}" th:text="${list.getTitle()}"></span>
                                </h4>
                            </a>
                        </div>
                            <p th:each="list:${lists}" th:utext="${list.getSamary()}">
                            </p>
                        <span>文章分类 ： </span> <a th:each="list:${lists}" th:href="'/blog?type='+${list.getType()}" th:text="'['+${list.getType()}+']'"></a>
                        <div class="blog-post layout-2">
                        </div>
                    </ul>
                    <!-- Pagination分页 -->
                    <nav class="pagination">
                        <ul>
                            <li th:each="pages : ${pageList}">
                                <a th:each="page : ${pages}" th:href="${page.href}" th:text="${page.page}" th:class="${page.classes}">1</a>
                            </li>
                        </ul>
                        <div class="clearfix">
                        </div>
                    </nav>
                    <!-- End pagination -->
                </div>

                <div class="one-fourth sidebar right">
                    <div class="widget">
                        <h4 class="widget-title">博客分类</h4>
                        <ul class="sidebar-nav">
                            <li th:each="lists_type,iterStat:${list_type}">
                                <a th:href="'/blog?type='+${lists_type.getType()}" th:text="${lists_type.getType()}"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="footer-call-to-action"><!-- footer call to action starts -->
        <section class="container">
            <div class="three-fourth">
                <h4>如果你对本网站感到兴趣，不妨联系我。</h4>
            </div>
            <div class="one-fourth">
                <a href="#" class="button grey huge round">联系方式</a>
            </div>
        </section>
    </section><!-- footer call to action ends -->
    <footer id="footer"><!--footer starts -->
        <section class="container">
            <section class="one-third">
                <h4>QQ交流群</h4>
                <ul class="twitter-feeds">
                    <!-- twitter widget starts-->
                </ul>
                <!-- twitter widget ends-->
                <p>
                    <a href="#">+ 858208157</a>
                </p>
            </section>
            <section class="one-third">
                <h4>网站声明</h4>
                <ul>
                    <!-- latest posts widget starts-->
                    <li><a href="#">本网站暂时不接任何广告等商业业务</a></li>
                    <li><a href="#">仅仅作为博主的经验分享</a></li>
                    <li><a href="#">以及开发爱好者的聚集地</a></li>
                    <li><a href="#">谢谢大家捧场</a></li>
                </ul>
                <!-- lastest posts widget ends-->
            </section>
            <section class="one-third">
                <h4>还没想好</h4>
                <div class="flickr-widget">
                    <!-- flickr widget starts-->
                </div>
            </section>
        </section>
    </footer>
    <section id="copyrights">
        <section class="container">
            <div class="one-half">
                <p>
                    Copyright &copy; 2014.Company name All rights reserved.More Templates <br>
                    <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">本网站页面展示效果，来源于模板之家开源项目，感谢模板之家的支持</a>
                </p>
            </div>
            <div class="one-half">
                <ul class="copyright_links">
                    <li><a href="/" title="Home">Home</a></li>
                    <li><a href="#" title="About">About us</a></li>
                    <li><a href="#" title="Blog">Blog</a></li>
                    <li><a href="#" title="Contact">Contact</a></li>
                </ul>
            </div>
        </section>
    </section>
</div>
</body>
</html>