<!DOCTYPE html>
<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<title>商务合作</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="shortcut icon" href="../images/favicon.gif"/>
	<link rel="stylesheet" href="../css/style.css" media="screen"/>
	<link rel="stylesheet" href="../css/responsive.css" media="screen"/>
	<link rel="stylesheet" id="style-color" href="../css/colors/blue-color.css" media="screen"/>
	<link rel="stylesheet" href="../css/googleapis-css.css" type='text/css'>
	<link rel="stylesheet" href="../css/prettyPhoto.css" media="screen"/>
	<link rel="stylesheet" href="../css/font-awesome/font-awesome.min.css" media="screen"/>
	<link rel="stylesheet" href="../css/layer-slider.css" media="screen"/>
	<link rel="stylesheet" href="../css/flexslider.css" media="screen"/>
	<link rel="stylesheet" href="../css/revolution-slider.css" media="screen"/>
	<script type="text/javascript" src="../js/jquery.min.js"></script>
	<script type="text/javascript" src="../js/jquery-ui.js"></script>
	<script type="text/javascript" src="../js/flex-slider.min.js"></script>
	<script type="text/javascript" src="../js/navigation.min.js"></script>
	<script type="text/javascript" src="../js/jquery.layerslider.js"></script>
	<script type="text/javascript" src="../js/layerslider.transitions.js"></script>
	<script type="text/javascript" src="../js/carousel.js"></script>
	<script type="text/javascript" src="../js/jquery.theme.plugins.min.js"></script>
	<script type="text/javascript" src="../js/jquery.themepunch.revolution.min.js"></script>
	<script type="text/javascript" src="../js/flickr.js"></script>
	<script type="text/javascript" src="../js/instagram.js"></script>
	<script type="text/javascript" src="../js/prettyPhoto.min.js"></script>
	<script type="text/javascript" src="../js/jquery.tooltips.min.js"></script>
	<script type="text/javascript" src="../js/isotope.min.js"></script>
	<script type="text/javascript" src="../js/scrolltopcontrol.js"></script>
	<script type="text/javascript" src="../js/jquery.easy-pie-chart.js"></script>
	<script type="text/javascript" src="../js/jquery.transit.min.js"></script>
	<script type="text/javascript" src="../js/custom.js"></script>
	<script type="text/javascript" src="../js/index.js"></script>
	<script type="text/javascript" charset="utf-8" src="../ueditor.config.js"></script>
	<script type="text/javascript" charset="utf-8" src="../ueditor.all.min.js"> </script>
	<!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
	<!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
	<script type="text/javascript" charset="utf-8" src="../lang/zh-cn/zh-cn.js"></script>
	<!--map.js-->
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=gcV6Z11g3CZGVfPsaULgOtRzYK9Ldjfy"></script>
</head>
<body>
<div id="container">
	<!-- main container starts-->
	<div id="wrapp">
		<!-- main wrapp starts-->
		<header id="header">
			<!--header starts -->
			<div id="header-links">
				<div class="container">
					<div class="one-half">
						<ul class="contact-links">
							<!-- header social links starts-->
							<li><a href="#"><i class="icon-home"></i>现在位置：上海 </a></li>
							<li><a href="#"><i class="icon-map-marker"></i>FrankLee8399@163.com</a></li>
						</ul>
					</div>
					<div class="one-half">
						<ul class="social-links">
							<a id="loginlink" href="/login" class="tooltip"
							   target="_Blank">登录/注册</a>&nbsp;&nbsp;&nbsp;<i class="icon-pinterest"></i>
						</ul>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="head-wrapp">
					<a href="/" id="logo"><img src="../images/timg-logo.jpg" alt=""/></a>
					<span>欢迎来到李少雄的博客,域名：ragdollhouse.club</span>
					<!--your logo-->
				</div>
			</div>
			<div id="main-navigation">
				<!--main navigation wrapper starts -->
				<div class="container">
					<ul class="main-menu">
						<li><a href="/" >首页</a>
						</li>
						<li><a href="/blog">博客</a>
						</li>
						<li><a href="/newsInfo">新资讯</a>
						</li>
						<li><a href="/business_cop" id="current">商务合作</a>
						</li>
						<li><a href="#">站内数据分析</a>
						</li>
						<li><a href="#">关于本站</a></li>
					</ul>
					<!-- main navigation ends-->
					<div class="after-nav-info">
						<h4>联系邮箱: FrankLee8399@163.com</h4>
					</div>
				</div>
			</div>
			<!--main navigation wrapper ends -->
		</header>
		<div id="content">
			<div id="google-map">
			</div>
			<div class="container">
				<section class="three-fourth">
				<form action="#" id="contact-form" class="simple-form " method="post">
					<div id="error-field">
					</div>
					<fieldset>
						<i class="icon-user tooltip left" title="你的姓名"></i><input value="你的姓名" title="你的姓名" onblur="if(this.value=='')this.value='你的姓名';" onfocus="if(this.value=='你的姓名')this.value='';" type="text" class="text requiredField" name="name"/>
					</fieldset>
					<fieldset>
						<i class="icon-envelope tooltip left" title="你的邮箱"></i><input type="text" title="你的邮箱" value="你的邮箱" onblur="if(this.value=='')this.value='你的邮箱';" onfocus="if(this.value=='你的邮箱')this.value='';" class="email requiredField" name="email"/>
					</fieldset>
					<fieldset>
						<i class="icon-globe tooltip left" title="你的网站"></i><input type="text" title="你的网站" value="你的网站" onblur="if(this.value=='')this.value='你的网站';" onfocus="if(this.value=='你的网站')this.value='';" class="text" name="url"/>
					</fieldset>
					<fieldset>
						<div class="input-title">
							留言信息:
						</div>
						<textarea cols="30" rows="12" title="留言信息" class="text requiredField" name="message"></textarea>
					</fieldset>
					<div class="three-fourth">
						<input type="submit" value="点击提交" class="button big grey round"/>
					</div>
				</form>
				</section>
				<section class="one-fourth sidebar right">
				<div class="widget">
					<h4 class="widget-title">你也可以在表单里填写你的信息，给我留言。如果看到，站长会第一时间联系您！</h4>
					<ul class="simple-list">
						<li><a href="#">目前工作地点：上海</a></li>
						<li><a href="#">电话被太多广告打扰，暂时不公开</a></li>
						<li><a href="#">邮箱：franklee8399@163.com</a></li>
						<li><a href="#">你可以通过上面坐标看到我所在的位置。</a></li>
					</ul>
				</div>
				</section>
			</div>
			<section class="footer-call-to-action"><!-- footer call to action starts -->
				<section class="container">
					<div class="three-fourth">
						<h4>如果你对本网站感到兴趣，不妨联系我。</h4>
					</div>
					<div class="one-fourth">
						<a href="#" class="button grey huge round">联系方式</a>
					</div>
				</section>
			</section><!-- footer call to action ends -->
			<footer id="footer"><!--footer starts -->
				<section class="container">
					<section class="one-third">
						<h4>QQ交流群</h4>
						<ul class="twitter-feeds">
							<!-- twitter widget starts-->
						</ul>
						<!-- twitter widget ends-->
						<p>
							<a href="#">+ 858208157</a>
						</p>
					</section>
					<section class="one-third">
						<h4>网站声明</h4>
						<ul>
							<!-- latest posts widget starts-->
							<li><a href="#">本网站暂时不接任何广告等商业业务</a></li>
							<li><a href="#">仅仅作为博主的经验分享</a></li>
							<li><a href="#">以及开发爱好者的聚集地</a></li>
							<li><a href="#">谢谢大家捧场</a></li>
						</ul>
						<!-- lastest posts widget ends-->
					</section>
					<section class="one-third">
						<h4>还没想好</h4>
						<div class="flickr-widget">
							<!-- flickr widget starts-->
						</div>
					</section>
				</section>
			</footer>
			<section id="copyrights">
				<section class="container">
					<div class="one-half">
						<p>
							Copyright &copy; 2018.Company name All rights reserved.More Templates <br>
							<a href="http://www.cssmoban.com/" target="_blank" title="模板之家">本网站页面展示效果，来源于模板之家开源项目，感谢模板之家的支持</a>
						</p>
					</div>
					<div class="one-half">
						<ul class="copyright_links">
							<li><a href="/" title="Home">Home</a></li>
							<li><a href="#" title="About">About us</a></li>
							<li><a href="#" title="Blog">Blog</a></li>
							<li><a href="#" title="Contact">Contact</a></li>
						</ul>
					</div>
				</section>
			</section>
		</div>
	<!-- main wrapp starts-->
</div>
<!-- main container ends-->
<script type="text/javascript">
    var map = new BMap.Map("google-map");
    // 创建地图实例
    var point = new BMap.Point(121.384801,31.23703);
    // 创建点坐标
    map.centerAndZoom(point, 15);
    // 初始化地图，设置中心点坐标和地图级别
    var marker = new BMap.Marker(point);        // 创建标注
    map.addOverlay(marker);						// 将标注添加到地图中
	//信息框
    var opts = {
        width : 250,     // 信息窗口宽度
        height: 100,     // 信息窗口高度
        title : "我在这儿"  // 信息窗口标题
    };
    var infoWindow = new BMap.InfoWindow("这里是我办公的地方，欢迎前来洽谈。", opts);  // 创建信息窗口对象
    map.openInfoWindow(infoWindow, map.getCenter());      // 打开信息窗口
</script>

</body>
</html>