<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>欢迎来到李少雄的博客</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="../images/favicon.gif"/>
    <link rel="stylesheet" href="../css/style.css" media="screen"/>
    <link rel="stylesheet" href="../css/responsive.css" media="screen"/>
    <link rel="stylesheet" id="style-color" href="../css/colors/blue-color.css" media="screen"/>
    <link rel="stylesheet" href="../css/googleapis-css.css" type='text/css'>
    <link rel="stylesheet" href="../css/prettyPhoto.css" media="screen"/>
    <link rel="stylesheet" href="../css/font-awesome/font-awesome.min.css" media="screen"/>
    <link rel="stylesheet" href="../css/layer-slider.css" media="screen"/>
    <link rel="stylesheet" href="../css/flexslider.css" media="screen"/>
    <link rel="stylesheet" href="../css/revolution-slider.css" media="screen"/>
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../js/jquery-ui.js"></script>
    <script type="text/javascript" src="../js/flex-slider.min.js"></script>
    <script type="text/javascript" src="../js/navigation.min.js"></script>
    <script type="text/javascript" src="../js/jquery.layerslider.js"></script>
    <script type="text/javascript" src="../js/layerslider.transitions.js"></script>
    <script type="text/javascript" src="../js/carousel.js"></script>
    <script type="text/javascript" src="../js/jquery.theme.plugins.min.js"></script>
    <script type="text/javascript" src="../js/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="../js/flickr.js"></script>
    <script type="text/javascript" src="../js/instagram.js"></script>
    <!--<script type="text/javascript" src="../js/jquery.twitter.js"></script>-->
    <script type="text/javascript" src="../js/prettyPhoto.min.js"></script>
    <script type="text/javascript" src="../js/jquery.tooltips.min.js"></script>
    <script type="text/javascript" src="../js/isotope.min.js"></script>
    <script type="text/javascript" src="../js/scrolltopcontrol.js"></script>
    <script type="text/javascript" src="../js/jquery.easy-pie-chart.js"></script>
    <script type="text/javascript" src="../js/jquery.transit.min.js"></script>
    <script type="text/javascript" src="../js/custom.js"></script>
    <script type="text/javascript" src="../js/index.js"></script>
</head>
<body>
<div id="container">
    <!-- main container starts-->
    <div id="wrapp">
        <!-- main wrapp starts-->
        <header id="header">
            <!--header starts -->
            <div id="header-links">
                <div class="container">
                    <div class="one-half">
                        <ul class="contact-links">
                            <!-- header social links starts-->
                            <li><a href="#"><i class="icon-home"></i>现在位置：上海 </a></li>
                            <li><a href="#"><i class="icon-map-marker"></i>FrankLee8399@163.com</a></li>
                        </ul>
                    </div>
                    <div class="one-half">
                        <ul class="social-links">
                            <a id="loginlink" href="/login" class="tooltip" target="_Blank">登录/注册</a>&nbsp;&nbsp;&nbsp;<i class="icon-pinterest"></i>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="head-wrapp">
                    <a href="/" id="logo"><img src="../images/timg-logo.jpg" alt=""/></a>
                    <span>欢迎来到李少雄的博客,域名：ragdollhouse.club</span>
                    <!--your logo-->
                    <nav class="top-search">
                        <!-- search starts-->
                        <form action="/page/404-error.html" method="get">
                            <button class="search-btn"></button>
                            <input class="search-field" type="text" onblur="if(this.value=='')this.value='Search';"
                                   onfocus="if(this.value=='Search')this.value='';" value="搜索"/>
                        </form>
                    </nav>
                    <!--search ends -->
                </div>
            </div>
            <div id="main-navigation">
                <!--main navigation wrapper starts -->
                <div class="container">
                    <ul class="main-menu">
                        <li><a href="/" id="current">首页</a>
                        </li>
                        <li><a href="#">博客</a>
                        </li>
                        <li><a href="/newsInfo">新资讯</a>
                        </li>
                        <li><a href="#">社区</a>

                        <li><a href="#">商务合作</a>
                        </li>
                        <li><a href="#"> 站内数据分析</a>
                        </li>
                        <li><a href="contact.html">关于本站</a></li>
                    </ul>
                    <!-- main navigation ends-->
                    <div class="after-nav-info">
                        <h4>联系邮箱: FrankLee8399@163.com</h4>
                    </div>
                </div>
            </div>
            <!--main navigation wrapper ends -->
        </header>
        <!-- header ends-->
        <div id="layerslider">
            <!--layer slider starts-->
            <div class="slider-shadow-top">
            </div>
            <div class="slider-shadow-bottom">
            </div>
            <div class="ls-layer"
                 style="slidedirection: top; slidedelay: 6000; durationin: 1500; durationout: 1500; delayout: 500;">
                <img src="images/slider/layer/1/slide1-bg.jpg" class="ls-bg" alt="">
                <img src="images/slider/layer/1/slide0-1.png" class="ls-s6" alt=""
                     style="top: 10px; left: -15px; slidedirection : bottom; slideoutdirection : bottom; durationin : 1500; durationout : 750; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 600;">
                <h1 class="ls-s3 ls_large_text_01"
                    style="position: absolute; top:100px; left: 490px; slidedirection : top; slideoutdirection : top; durationin : 3000; durationout : 750; easingin : easeInOutQuint; easingout : easeInBack; delayin : 1000;">
                    欢迎来到我的博客，网站还在建设，很多功能尚不完善，多多见谅~<br>
                </h1>
                <h4 class="ls-s3 l1-s1 ls_large_text_02"
                    style="position: absolute; top:210px; left: 490px; slidedirection : bottom; slideoutdirection : bottom; durationin : 3000; durationout : 750; easingin : easeInOutQuint; easingout : easeInBack; delayin : 1000;">
                    如果你有什么更好的建议也可以在“留言板”功能里发给我，谢谢支持。”</h4>
                <a class="button huge color round ls-s8" href="#"
                   style="position: absolute; top:270px; left: 490px; slidedirection : bottom; slideoutdirection : bottom; durationin : 3000; durationout : 750; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 1100;">关于博主</a>
            </div>
            <div class="ls-layer" style="slidedirection: right; slidedelay: 5000; durationin: 1500; durationout: 1500;">
                <img src="images/slider/layer/2/slide-bg.jpg" class="ls-bg" alt="">
                <img src="images/slider/layer/2/item-01.png" class="ls-s6" alt=""
                     style="top: 15px; left: 480px; slidedirection : bottom; slideoutdirection : bottom; durationin : 1500; durationout : 750; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 600;">
                <h1 class="ls-s3 ls_large_text_01"
                    style="position: absolute; font-family:Arial; top:100px; left: 0px; slidedirection : right; slideoutdirection : left; durationin : 3000; durationout : 750; easingin : easeInOutQuint; easingout : easeInBack; delayin : 400;">
                    Clean Corporate Design</h1>
                <h4 class="ls-s3 l1-s1 ls_large_text_02"
                    style="position: absolute; top:160px; left: 0px; border-color:#fff; slidedirection : bottom; slideoutdirection : left; durationin : 3000; durationout : 750; easingin : easeInOutQuint; easingout : easeInBack; delayin : 500;">
                    Clean Corporate Template with some Awesome &amp; Unique Features</h4>
                <a class="button huge color round ls-s8" href="#"
                   style="position: absolute; top:210px; left: 0px; slidedirection : bottom; slideoutdirection : bottom; durationin : 3000; durationout : 750; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 0;">Our
                    Portfolio</a>
            </div>
            <div class="ls-layer"
                 style="slidedirection: right; slideoutdirection : top; slidedelay: 5000; durationin: 1500; durationout: 1500; delayout: 500;">
                <img src="images/slider/layer/3/slide3-bg.jpg" class="ls-bg" alt="">
                <img src="images/slider/layer/3/slide3-pic1.png" class="ls-s6" alt=""
                     style="top: 25px; left: 0px; slidedirection : fade; slideoutdirection : fade; durationin : 1500; durationout : 750; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 500;">
                <h1 class="ls-s3 ls_large_text_01"
                    style="position: absolute; top:120px; left: 400px; slidedirection : top; slideoutdirection : top; durationin : 3000; durationout : 750; easingin : easeInOutQuint; easingout : easeInBack; delayin : 600;">
                    Fully Responsive HTML5 Template</h1>
                <h4 class="ls-s3 l1-s1 ls_large_text_02"
                    style="position: absolute; top:170px; left: 400px; slidedirection : bottom; slideoutdirection : bottom; durationin : 3000; durationout : 750; easingin : easeInOutQuint; easingout : easeInBack; delayin : 700;">
                    Filterable Portfolio Included, Pricing Tables and much more...</h4>
                <a class="button huge color round ls-s8" href="#"
                   style="position: absolute; top:210px; left: 400px; slidedirection : bottom; slideoutdirection : bottom; durationin : 3000; durationout : 750; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 800;">Pricing
                    Tables</a>
            </div>
            <div class="ls-layer"
                 style="slidedirection: top; slideoutdirection : top; slidedelay: 5000; durationin: 1500; durationout: 1500; delayout: 500;">
                <img src="images/slider/layer/4/slide4-bg.jpg" class="ls-bg" alt="">
                <img src="images/slider/layer/4/slider_4_man.png" class="ls-s6" alt=""
                     style="top: 10px; left:550px; slidedirection : bottom; slideoutdirection : bottom; durationin : 1500; durationout : 750; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 300;">
                <h1 class="ls-s3 ls_large_text_01"
                    style="position: absolute; top:100px; left: 0px; slidedirection : top; slideoutdirection : top; durationin : 3000; durationout : 750; easingin : easeInOutQuint; easingout : easeInBack; delayin : 500;">
                    Fullwidth &amp; Boxed Versions Included</h1>
                <h4 class="ls-s3 l1-s1 ls_large_text_02"
                    style="position: absolute; top:160px; left: 0px; slidedirection : bottom; slideoutdirection : bottom; durationin : 3000; durationout : 750; easingin : easeInOutQuint; easingout : easeInBack; delayin : 600;">
                    You just need to change your container width to change entire grid system</h4>
                <a class="button huge color round ls-s8" href="#"
                   style="position: absolute; top:210px; left: 0px; slidedirection : bottom; slideoutdirection : bottom; durationin : 3000; durationout : 750; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 700;">Contact
                    Us</a>
            </div>
        </div>

        <!--layer slider ends-->
        <div id="content">
            <div class="home-intro"><!-- home intro starts -->
            </div>
        </div>
        <!--home intro ends-->
        <div class="container">
            <div class="one-third">
                <div class="feature-block"><!-- features blocks starts -->
                    <div class="feature-block-title">
                        <div class="feature-block-icon">
                            <i class="icon-lightbulb"></i><span></span>
                        </div>
                        <a href="http://www.baidu.com/"><h4>这里是默认最新消息第一条</h4></a>
                        <h6>概述</h6>
                    </div>
                    <p>
                        测试数据：文章片段1.
                    </p>
                </div>
            </div>
            <div class="one-third">
                <div class="feature-block">
                    <div class="feature-block-title">
                        <div class="feature-block-icon">
                            <i class="icon-lightbulb"></i><span></span>
                        </div>
                        <a href="http://www.baidu.com/"><h4>这里是默认最新消息第二条</h4></a>
                        <h6>概述</h6>
                    </div>
                    <p>
                        测试数据：文章片段2.
                    </p>
                </div>
            </div>
            <div class="one-third">
                <div class="feature-block">
                    <div class="feature-block-title">
                        <div class="feature-block-icon">
                            <i class="icon-lightbulb"></i><span></span>
                        </div>
                        <a href="http://www.baidu.com/"><h4>这里是默认最新消息第三条</h4></a>
                        <h6>概述</h6>
                    </div>
                    <p>
                        测试数据：文章片段3.
                    </p>
                </div>
            </div><!--features block ends-->
        </div>
        <div class="container">
            <div class="one-third">
                <div class="feature-block"><!-- features blocks starts -->
                    <div class="feature-block-title">
                        <div class="feature-block-icon">
                            <i class="icon-lightbulb"></i><span></span>
                        </div>
                        <a href="http://www.baidu.com/"><h4>这里是默认最新消息第一条</h4></a>
                        <h6>概述</h6>
                    </div>
                    <p>
                        测试数据：文章片段1.
                    </p>
                </div>
            </div>
            <div class="one-third">
                <div class="feature-block">
                    <div class="feature-block-title">
                        <div class="feature-block-icon">
                            <i class="icon-lightbulb"></i><span></span>
                        </div>
                        <a href="http://www.baidu.com/"><h4>这里是默认最新消息第二条</h4></a>
                        <h6>概述</h6>
                    </div>
                    <p>
                        测试数据：文章片段2.
                    </p>
                </div>
            </div>
            <div class="one-third">
                <div class="feature-block">
                    <div class="feature-block-title">
                        <div class="feature-block-icon">
                            <i class="icon-lightbulb"></i><span></span>
                        </div>
                        <a href="http://www.baidu.com/"><h4>这里是默认最新消息第三条</h4></a>
                        <h6>概述</h6>
                    </div>
                    <p>
                        测试数据：文章片段3.
                    </p>
                </div>
            </div><!--features block ends-->
        </div>
        <div class="intro-features"><!-- intro features panel starts -->
            <div class="container">
                <h4>你可能会感兴趣</h4>
                <div class="slidewrap">
                    <!--project carousel starts-->
                    <ul class="slider" id="sliderName">
                        <li class="slide"><!-- carousel item starts -->
                            <div class="one-fourth">
                                <div class="item-wrapp">
                                    <div class="portfolio-item">
                                        <a href="single-project-small.html" class="item-permalink"><i
                                                class="icon-link"></i></a>
                                        <a href="images/portfolio/portfolio-item-1.jpg" data-rel="prettyPhoto"
                                           class="item-preview"><i class="icon-zoom-in"></i></a>
                                        <img src="images/portfolio/portfolio-item-1.jpg" alt=""/>
                                    </div>
                                    <div class="portfolio-item-title">
                                        <a href="single-project-small.html">推荐1</a>
                                        <p>
                                            推荐内容1
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="one-fourth">
                                <div class="item-wrapp">
                                    <div class="portfolio-item">
                                        <a href="single-project-small.html" class="item-permalink"><i
                                                class="icon-link"></i></a>
                                        <a href="../images/portfolio/portfolio-item-2.jpg" data-rel="prettyPhoto"
                                           class="item-preview"><i class="icon-zoom-in"></i></a>
                                        <img src="images/portfolio/portfolio-item-2.jpg" alt=""/>
                                    </div>
                                    <div class="portfolio-item-title">
                                        <a href="single-project-small.html">推荐2</a>
                                        <p>
                                            推荐内容2
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="one-fourth">
                                <div class="item-wrapp">
                                    <div class="flexslider portfolio-items-slider fade">
                                        <ul class="slides">
                                            <li><img src="images/portfolio/portfolio-item-3.jpg" alt=""/></li>
                                            <li><img src="images/portfolio/portfolio-item-4.jpg" alt=""/></li>
                                            <li><img src="images/portfolio/portfolio-item-5.jpg" alt=""/></li>
                                        </ul>
                                    </div>
                                    <div class="portfolio-item-title">
                                        <a href="single-project-small.html">推荐3</a>
                                        <p>
                                            推荐内容
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="one-fourth">
                                <div class="item-wrapp">
                                    <div class="portfolio-item">
                                        <a href="single-project-small.html" class="item-permalink"><i
                                                class="icon-link"></i></a>
                                        <a href="images/portfolio/portfolio-item-6.jpg" data-rel="prettyPhoto"
                                           class="item-preview"><i class="icon-zoom-in"></i></a>
                                        <img src="images/portfolio/portfolio-item-6.jpg" alt=""/>
                                    </div>
                                    <div class="portfolio-item-title">
                                        <a href="single-project-small.html">推荐内容</a>
                                        <p>
                                            推荐内容
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="slide"><!-- carousel item starts -->
                            <div class="one-fourth">
                                <div class="item-wrapp">
                                    <div class="portfolio-item">
                                        <a href="single-project-small.html" class="item-permalink"><i
                                                class="icon-link"></i></a>
                                        <a href="images/portfolio/portfolio-item-7.jpg" data-rel="prettyPhoto"
                                           class="item-preview"><i class="icon-zoom-in"></i></a>
                                        <img src="images/portfolio/portfolio-item-7.jpg" alt=""/>
                                    </div>
                                    <div class="portfolio-item-title">
                                        <a href="single-project-small.html">推荐内容</a>
                                        <p>
                                            推荐内容
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="one-fourth">
                                <div class="item-wrapp">
                                    <div class="portfolio-item">
                                        <a href="single-project-small.html" class="item-permalink"><i
                                                class="icon-link"></i></a>
                                        <a href="images/portfolio/portfolio-item-8.jpg" data-rel="prettyPhoto"
                                           class="item-preview"><i class="icon-zoom-in"></i></a>
                                        <img src="images/portfolio/portfolio-item-8.jpg" alt=""/>
                                    </div>
                                    <div class="portfolio-item-title">
                                        <a href="single-project-small.html">推荐内容</a>
                                        <p>
                                            推荐内容
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="one-fourth">
                                <div class="item-wrapp">
                                    <div class="portfolio-item">
                                        <a href="single-project-small.html" class="item-permalink"><i
                                                class="icon-link"></i></a>
                                        <a href="images/portfolio/portfolio-item-9.jpg" data-rel="prettyPhoto"
                                           class="item-preview"><i class="icon-zoom-in"></i></a>
                                        <img src="images/portfolio/portfolio-item-9.jpg" alt=""/>
                                    </div>
                                    <div class="portfolio-item-title">
                                        <a href="single-project-small.html">推荐内容</a>
                                        <p>
                                            推荐内容
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="one-fourth">
                                <div class="item-wrapp">
                                    <div class="portfolio-item">
                                        <a href="single-project-small.html" class="item-permalink"><i
                                                class="icon-link"></i></a>
                                        <a href="images/portfolio/portfolio-item-10.jpg" data-rel="prettyPhoto"
                                           class="item-preview"><i class="icon-zoom-in"></i></a>
                                        <img src="images/portfolio/portfolio-item-10.jpg" alt=""/>
                                    </div>
                                    <div class="portfolio-item-title">
                                        <a href="single-project-small.html">推荐内容</a>
                                        <p>
                                            推荐内容
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul><!-- carousel items UL ends -->
                    <ul class="slidecontrols">
                        <li><a href="#sliderName" class="prev">Prev</a></li>
                        <li><a href="#sliderName" class="next">Next</a></li>

                    </ul>
                </div>
            </div>
        </div><!-- intro features panel ends -->
    </div>
    <section class="footer-call-to-action"><!-- footer call to action starts -->
        <section class="container">
            <div class="three-fourth">
                <h4>如果你对本网站感到兴趣，不妨联系我。</h4>
            </div>
            <div class="one-fourth">
                <a href="#" class="button grey huge round">联系方式</a>
            </div>
        </section>
    </section><!-- footer call to action ends -->
    <footer id="footer"><!--footer starts -->
        <section class="container">
            <section class="one-third">
                <h4>QQ交流群</h4>
                <ul class="twitter-feeds">
                    <!-- twitter widget starts-->
                </ul>
                <!-- twitter widget ends-->
                <p>
                    <a href="#">+ 858208157</a>
                </p>
            </section>
            <section class="one-third">
                <h4>网站声明</h4>
                <ul>
                    <!-- latest posts widget starts-->
                    <li><a href="#">本网站暂时不接任何广告等商业业务</a></li>
                    <li><a href="#">仅仅作为博主的经验分享</a></li>
                    <li><a href="#">以及开发爱好者的聚集地</a></li>
                    <li><a href="#">谢谢大家捧场</a></li>
                </ul>
                <!-- lastest posts widget ends-->
            </section>
            <section class="one-third">
                <h4>还没想好</h4>
                <div class="flickr-widget">
                    <!-- flickr widget starts-->
                </div>
            </section>
        </section>
    </footer>
    <section id="copyrights">
        <section class="container">
            <div class="one-half">
                <p>
                    Copyright &copy; 2018.Company name All rights reserved.More Templates <br>
                    <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">本网站页面展示效果，来源于模板之家开源项目，感谢模板之家的支持</a>
                </p>
            </div>
            <div class="one-half">
                <ul class="copyright_links">
                    <li><a href="/" title="Home">Home</a></li>
                    <li><a href="#" title="About">About us</a></li>
                    <li><a href="#" title="Blog">Blog</a></li>
                    <li><a href="#" title="Contact">Contact</a></li>
                </ul>
            </div>
        </section>
    </section>
</div>
<!-- main wrapp starts-->
</div>
<!-- main container ends-->
</body>
</html>