<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta author="FranlLee">
    <title>登录-注册</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="../images/favicon.gif"/>
    <link rel="stylesheet" type="text/css" href="../css/register-login.css">

</head>
<body>
<div id="box"></div>
<div class="cent-box register-box">
    <div class="cent-box-header">
        <h1 class="main-title">布偶猫舍</h1>
        <h2 class="sub-title">爱生活爱分享 - enjoy your life</h2>
    </div>

    <div class="cont-main clearfix">
        <div class="index-tab">
            <div class="index-slide-nav">
                <a href="login.html">登录</a>
                <a href="register.html" class="active">注册</a>
                <div class="slide-bar slide-bar1"></div>
            </div>
        </div>

        <div class="login form">
            <div class="group">
                <div class="group-ipt email">
                    <input type="email" name="email" id="email" class="ipt" placeholder="邮箱地址" required>
                </div>
                <div class="group-ipt user">
                    <input type="text" name="user" id="user" class="ipt" placeholder="选择一个用户名" required>
                </div>
                <div class="group-ipt password">
                    <input type="password" name="password" id="password" class="ipt" placeholder="设置登录密码" required>
                </div>
                <div class="group-ipt password1">
                    <input type="password" name="password1" id="password1" class="ipt" placeholder="重复密码" required>
                </div>
                <div class="group-ipt verify" id="verify-div">
                    <input type="text" name="verify" id="verify" class="ipt" placeholder="输入验证码" required>
                    <img src="/DrawImage" class="imgcode" id="imgObj">
                </div>
            </div>
        </div>

        <div class="button">
            <button type="submit" class="login-btn register-btn" id="button" onclick="isRightCode()">注册</button>
        </div>
    </div>
</div>

<script src='../js/loginregister/particles.js' type="text/javascript"></script>
<script src='../js/loginregister/background.js' type="text/javascript"></script>
<script src='../js/loginregister/jquery.min.js' type="text/javascript"></script>
<script src='../js/loginregister/layer.js' type="text/javascript"></script>
<script src="../js/loginregister/verifyCode.js" type="text/javascript"></script>

</body>
</html>