<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>注册成功</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="../images/favicon.gif"/>
    <link rel="stylesheet" href="../css/style.css" media="screen"/>
    <link rel="stylesheet" href="../css/responsive.css" media="screen"/>
    <link rel="stylesheet" id="style-color" href="../css/colors/blue-color.css" media="screen"/>
    <link rel="stylesheet" href="../css/googleapis-css.css" type='text/css'>
    <link rel="stylesheet" href="../css/prettyPhoto.css" media="screen"/>
    <link rel="stylesheet" href="../css/font-awesome/font-awesome.min.css" media="screen"/>
    <link rel="stylesheet" href="../css/layer-slider.css" media="screen"/>
    <link rel="stylesheet" href="../css/flexslider.css" media="screen"/>
    <link rel="stylesheet" href="../css/revolution-slider.css" media="screen"/>
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../js/jquery-ui.js"></script>
    <script type="text/javascript" src="../js/flex-slider.min.js"></script>
    <script type="text/javascript" src="../js/navigation.min.js"></script>
    <script type="text/javascript" src="../js/jquery.layerslider.js"></script>
    <script type="text/javascript" src="../js/layerslider.transitions.js"></script>
    <script type="text/javascript" src="../js/carousel.js"></script>
    <script type="text/javascript" src="../js/jquery.theme.plugins.min.js"></script>
    <script type="text/javascript" src="../js/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="../js/flickr.js"></script>
    <script type="text/javascript" src="../js/instagram.js"></script>
    <script type="text/javascript" src="../js/prettyPhoto.min.js"></script>
    <script type="text/javascript" src="../js/jquery.tooltips.min.js"></script>
    <script type="text/javascript" src="../js/isotope.min.js"></script>
    <script type="text/javascript" src="../js/scrolltopcontrol.js"></script>
    <script type="text/javascript" src="../js/jquery.easy-pie-chart.js"></script>
    <script type="text/javascript" src="../js/jquery.transit.min.js"></script>
    <script type="text/javascript" src="../js/custom.js"></script>
    <script type="text/javascript" src="../js/index.js"></script>
</head>
<body>
<script>
    var t=5;//设定跳转的时间
    setInterval("refer()",1000); //启动1秒定时
    function refer(){
        if(t==0){
            location="http://10.14.6.85"; //#设定跳转的链接地址
        }
        document.getElementById('show').innerHTML="注册成功!"+t+"秒后自动登录到首页！"; // 显示倒计时
        t--; // 计数器递减
    }
</script>
<div id="container">
    <!-- main container starts-->
    <div id="wrapp">
        <!-- main wrapp starts-->
        <header id="header">
            <!--header starts -->
            <div id="header-links">
                <div class="container">
                    <div class="one-half">
                        <ul class="contact-links">
                            <!-- header social links starts-->
                            <li><a href="#"><i class="icon-home"></i>现在位置：上海 </a></li>
                            <li><a href="#"><i class="icon-map-marker"></i>FrankLee8399@163.com</a></li>
                        </ul>
                    </div>
                    <div class="one-half">
                        <ul class="social-links">
                            <a id="loginlink" href="/login" class="tooltip"
                               target="_Blank">登录/注册</a>&nbsp;&nbsp;&nbsp;<i class="icon-pinterest"></i>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="head-wrapp">
                    <a href="/" id="logo"><img src="../images/timg-logo.jpg" alt=""/></a>
                    <span>欢迎来到李少雄的博客,域名：ragdollhouse.club</span>
                    <!--your logo-->
                    <nav class="top-search">
                        <!-- search starts-->
                        <form action="/page/404-error.html" method="get">
                            <button class="search-btn"></button>
                            <input class="search-field" type="text" onblur="if(this.value=='')this.value='Search';"
                                   onfocus="if(this.value=='Search')this.value='';" value="搜索"/>
                        </form>
                    </nav>
                    <!--search ends -->
                </div>
            </div>
            <div id="main-navigation">
                <!--main navigation wrapper starts -->
                <div class="container">
                    <ul class="main-menu">
                        <li><a href="/">首页</a>
                        </li>
                        <li><a href="#">博客</a>
                        </li>
                        <li><a href="#">新资讯</a>
                        </li>
                        <li><a href="#">留言板</a>

                        <li><a href="#">商务合作</a>
                        </li>
                        <li><a href="#">站内数据分析</a>
                        </li>
                        <li><a href="contact.html">关于本站</a></li>
                    </ul>
                    <!-- main navigation ends-->
                    <div class="after-nav-info">
                        <h4>联系邮箱: FrankLee8399@163.com</h4>
                    </div>
                </div>
            </div>
            <!--main navigation wrapper ends -->
        </header>
        <div id="content">
            <div id="breadcrumb">
                <!-- breadcrumb starts-->
                <div class="container">
                    <div class="one-half">
                        <nav id="breadcrumbs">
                            <!--breadcrumb nav starts-->
                            <ul>
                                <li>您所在的位置 :</li>
                                <li><a href="/">首页</a></li>
                                <li>新资讯</li>
                            </ul>
                        </nav>
                        <!--breadcrumb nav ends -->
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="one">
                    <div class="three-fourth">
                        <div class="blog-post layout-2">
                            <div class="permalink">
                                <h3><span id="show"></span></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>